.xy-select-dropdown {
    z-index: 9999;
}

.costomize-option {
    .label {
        margin: 0;
        color: #333;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 14px;
    }

    .value {
        color: rgb(132, 146, 166);
        font-size: 12px;
        display: block;
        margin-top: -10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
